<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style>
      [v-cloak] {
          display: none;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  </head>
  <body>
    <div id="app" v-cloak>
      <b-container>
        <h2>The Estimator Of The Cost of Multiple Items</h2>
        
        <b-card title="Item Costs" sub-title="Costs of Different Items">
          <table class="table">
            <thead>
              <tr>
                <th>item</th>
                <th>cost</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of items" :key="item.id" :class="rowColor(item.cost)">
                <td style="width:70%">
                  <b-form-input type="text" v-model="item.name"></b-form-input>
                </td>
                <td style="width:30%">
                  <b-form-input type="text" v-model.number="item.cost"></b-form-input>
                </td>
              </tr>
            </tbody>
          </table>
          
          <b-btn v-on:click="addNewItem()">add new item</b-btn>
      
          <p>total: {{ total }} </p>
          <p>costliest: {{ costliest }}</p>
        </b-card>
      </b-container>
    </div>
    <script>
    let id = 1
    
    function getId() {
      id++
      return id
    }
    
    new Vue({
      el: '#app',
      data: {
        'items': [
          {id: getId(), name: 'mango bite', cost: 12},
          {id: getId(), name: 'tea', cost: 2},
        ]
      },
      methods: {
        addNewItem() {
          this.items.push({id: getId(), name: '', cost: 0})
        },
        rowColor (cost) {
          if (cost > 1000) return 'table-danger'
          else if (cost > 100) return 'table-warning'
          return null
        },
      },
      computed: {
        total() {
          let a = 0
          for(i of this.items) {
            a += i.cost
          }
          return a
        },
        costliest() {
          let highestCost = 0
          for(i of this.items) {
            if (i.cost > highestCost) {
              highestCost = i.cost
            }
          }
          let namesOfCostliest =  this.items.filter( function (i) { return i.cost === highestCost } ). map( function (i) { return i.name} )
          return namesOfCostliest.join(', ')
        }
      }
    })
    </script>
  </body>
</html>
